.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoCam {
  width:40rem;
  height: 30rem;;
}
.videoCapture {
  width:40rem;
  height: 30rem;;
}
.canvas {
  width:40rem;
  height: 30rem;;
}