*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  /* 1rem=10px */
  font-size: 62.5%;
  background-color: white;
}
.spacer {
  flex: 1;
}



.row {
  width: 128rem;
  margin: 0 auto;
}
